/* unvisited link */
.list-link:link {
    color: red;
}

/* visited link */
.list-link:visited {
    color: maroon;
}


/* mouse over link */
.list-link:hover {
    color: hotpink;
}

/* selected link */
.list-link:active {
    color: blue;
}

/* Reset some default styles for lists */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style for each list item */
.list-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}

/* Style for the images */
.list-item img {
    width: 50px;
    height: fit-content;
    margin-right: 10px;
}

/* Style for the links */
.list-item a {
    text-decoration: none;
    color: #333;
}

/* Expand the div on hover */
.list-item:hover {
    border-width: 2px;
    padding: 15px;
}

@media (max-width: 480px) {
  .list-item img {
    width: 100%; /* Make the image full width of the container */
    height: auto;
  }
}

